*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    align-items: center;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    background: hsl(119, 53%, 63%);
}

nav{
    background: hsl(119, 55%, 38%);
    height: 80px;
    width: 100%;
    z-index: 10;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 70px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
#check{
    display: none;
}

.check-btn{
    display: none;
}

.address-card-wrapper{
    position: relative;
    width: 500px;
    height: 70px;
    margin: 30px;
    background: hsl(119, 53%, 63%);
    border-radius: 40px;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15),
    inset -5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.15),
    -5px -5px 15px rgba(255, 255, 255, 0.15);
    z-index: -10;
}

.address-card-inner{
    position: relative;
    width: 490px;
    height: 60px;
    margin: 5px;
    border-radius: 40px;
    top: 5px;
    background: hsl(119, 81%, 80%);
}
.address-card-inner h2{
    position: relative;
    left: 22px;
    top:12px;
}
.address-card-wrapper button{
    border: solid hsl(118, 56%, 12%) 2px;
    height: 36px;
    width: 136px;
    font-weight: bold;
    border-radius: 20px;
    background: hsl(119, 62%, 29%);
    color: white;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .check-btn{
        display:block;
    }
    .header-menu{
        position: fixed;
        width: 100%;
        height: 450px;
        background: #2c3e50;
        top: 80px;
        top: -100%;
        text-align: center;
        transition: all .5s;
        z-index: -1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        width: 100%;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        top: 80px;
    } 
}